<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./welcome.css">
    <link rel="stylesheet" href="./src/input.css">
    <link href="./dist/output.css" rel="stylesheet">
    <title>GraDaMemoria</title>
</head>
<body>
    <div class="welcomeLayout">
        <h1 id="welcomeMessage" class="welcomeTypography font-Minnie"></h1>
    </div>
    <script src="./welcome.js" ></script>
</body>
</html>
