<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../src/input.css">
    <link href="../../../dist/output.css" rel="stylesheet">
</head>
<body>
    
    <div class="flex flex-col items-center justify-center h-screen">
        <div class="flex items-center space-x-2">
            <img src="./img/pixel.png" alt="corazon vacio" class="w-8 h-8 sm:w-10 sm:h-10 md:w-12 md:h-12 lg:w-16 lg:h-16 xl:w-20 xl:h-20">
            <img src="./img/pixel.png" alt="corazon vacio" class="w-8 h-8 sm:w-10 sm:h-10 md:w-12 md:h-12 lg:w-16 lg:h-16 xl:w-20 xl:h-20">
            <img src="./img/pixel.png" alt="corazon vacio" class="w-8 h-8 sm:w-10 sm:h-10 md:w-12 md:h-12 lg:w-16 lg:h-16 xl:w-20 xl:h-20">
        </div>
        <h1 class="font-Minnie text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl text-center animate-ping text-red-500">Game Over</h1>
    </div>         
</body>
</html>