<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/minnie" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="font-minnie">
    <div class="flex justify-end mt-4 mr-4">
        <div class="timer bg-black p-4 rounded-md text-white text-2xl">
            <span class="hour">00</span>
            <span class="colon">:</span>
            <span class="minute">00</span>
            <span class="colon">:</span>
            <span class="second">00</span>
            <span class="colon ms-colon">:</span>
            <span class="millisecond">00</span>
        </div>
    </div>
    <script src="chronometer.js"></script>
</body>
</html>

