<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/minnie" rel="stylesheet">
    <link rel="stylesheet" href="../../../src/input.css">
    <link href="../../../dist/output.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1 class="p-5 text-stone-200 text-3xl text-center drop-shadow-lg font-Minnie">Gra Da Memoria</h1>
    </header>




    <div class="grid grid-cols-3 gap-4">
    
      </div>
</body>
</html>