<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../src/input.css">
    <link href="../../../dist/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100">

    <audio id="audioPlayer" loop>
        <source src="sound/musicRelax.mp3" type="audio/mp3">
        Tu navegador no soporta la etiqueta de audio.
    </audio>

    <footer class="fixed bottom-0 bg-black right-0 left-0 p-4 text-white flex flex-col items-end md:flex-row md:items-center" style="max-height: 3rem;">
        <div id="soundIcon" class="cursor-pointer mb-2 md:mb-0 md:mr-2">
            <img src="img/sin-musica.png" alt="icono de sonido" style="width: 30px; height: 30px;">
        </div>
        <div id="musicIcon" class="cursor-pointer mb-2 md:mb-0 md:mr-2">
            <img src="img/sin-sonido.png" alt="icono de musica" style="width: 30px; height: 30px;">
        </div>
        <div id="instructionsIcon" class="cursor-pointer mb-2 md:mb-0 md:mr-2 md:ml-4">
            <img src="img/libro-electronico.png" alt="icono de instruciones" style= "width: 30px; height: 30px;">
        </div>
        <div class="text-sm md:ml-auto">Copyright © 2023 GraDaMemoria</div>
    </footer>
   
    <script type="module" src="footer.js"></script>
</body>    
</html>

