@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Minnie';
    src: url('./assets/fonts/Minnie.TTF') format('ttf');
  }

  body {
    font-family: 'Minnie', sans-serif;
  }